#F
hotelbediax-frontend/node_modules/
hotelbediax-frontend/dist/
hotelbediax-frontend/.env
hotelbediax-frontend/.vite/

#B
hotelbediax-backend/HotelBediaX.Api/bin/
hotelbediax-backend/HotelBediaX.Api/obj/
hotelbediax-backend/HotelBediaX.Api/*.user
hotelbediax-backend/.vs/
hotelbediax-backend/**/*.log
hotelbediax-backend/**/TestResults/


.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/
